#app {
  width: 100%;
  height: 51.96rem;
  background-image: url('images/bmg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10.1067rem 51.96rem;
}
#app #login_button {
  width: 6.8rem;
  height: 1.3067rem;
  line-height: 1.1rem;
  margin: 0 auto;
  background-image: url('images/login.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6.8rem 1.3067rem;
  text-align: center;
  color: #fff;
  font-size: 0.5333rem;
  position: relative;
  top: 6.5rem;
}
#app .content {
  position: relative;
  top: 8rem;
  width: 9.2rem;
  margin: 0 auto;
}
#app .content .list {
  position: relative;
  width: 100%;
  height: 5.87rem;
  background-color: #01A4EC;
  border-radius: 0.2rem;
  margin-bottom: 1.8rem;
  padding: 0.2rem;
}
#app .content .list .white_bmg {
  padding: 0.2rem;
  background-color: #fff;
}
#app .content .list .white_bmg .dash_bmg {
  padding: 0.2rem;
  border: 1px dashed #01A4EC;
}
#app .content .list .white_bmg .dash_bmg .icon1 {
  position: absolute;
  top: -1rem;
  width: 1.5333rem;
  height: 1.28rem;
  background-image: url('images/icon1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5333rem 1.28rem;
  z-index: 1;
}
#app .content .list .white_bmg .dash_bmg .icon1_l {
  left: -0.28rem;
}
#app .content .list .white_bmg .dash_bmg .icon1_r {
  right: -0.2rem;
}
#app .content .list .white_bmg .dash_bmg .title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -0.5867rem;
  width: 7.5rem;
  height: 0.5867rem;
  line-height: 0.5867rem;
  background-color: #01a4ec;
  z-index: 0;
  text-align: center;
  color: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
}
#app .content .list .white_bmg .dash_bmg .wrapper {
  display: flex;
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell:last-child {
  margin: 0.4rem 0 0 0;
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell {
  margin: 0.4rem 0 0 0.5rem;
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image {
  width: 2.6267rem;
  height: 2.6267rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100%;
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_1 {
  width: 3.4133rem;
  height: 2.6133rem;
  background-image: url('images/image_1.png');
  background-size: 3.4133rem 2.6133rem;
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_2 {
  background-image: url('images/image_2.png');
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_3 {
  background-image: url('images/image_3.png');
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_4 {
  background-image: url('images/image_4.png');
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_5 {
  background-image: url('images/image_5.png');
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_6 {
  background-image: url('images/image_6.png');
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_8 {
  background-image: url('images/image_8.png');
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .image_7 {
  background-image: url('images/image_7.png');
}
#app .content .list .white_bmg .dash_bmg .wrapper .cell .integral {
  color: #01A4EC;
  font-size: 0.4rem;
  text-align: center;
  text-decoration: line-through;
}
#app .content .list .white_bmg .dash_bmg .wrapper .addIcon {
  color: #01A4EC;
  font-size: 0.6667rem;
  line-height: 3.5rem;
  margin: 0 0.25rem 0 0.25rem;
}
#app .content .list .white_bmg .dash_bmg .icon2 {
  position: absolute;
  left: -0.2rem;
  bottom: 0.27rem;
  width: 1.72rem;
  height: 1.7067rem;
  background-image: url('images/icon2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.72rem 1.7067rem;
  z-index: 1;
}
#app .content .list .white_bmg .dash_bmg .icon3 {
  width: 6.9rem;
  height: 0.1rem;
  border-bottom: 1px dashed #01A4EC;
  margin: 0 auto;
}
#app .content .list .white_bmg .dash_bmg .integral_exchange {
  color: #FD4669;
  margin-top: 0.15rem;
}
#app .content .list .white_bmg .dash_bmg .integral_exchange .big_size {
  font-size: 0.6133rem;
}
#app .content .list .white_bmg .dash_bmg .integral_exchange .left {
  margin-left: 0.6rem;
  margin-right: 0.5rem;
}
#app .content .list .white_bmg .dash_bmg .integral_exchange .exchange_button {
  display: inline-block;
  width: 2.3867rem;
  height: 0.6667rem;
  line-height: 0.6667rem;
  text-align: center;
  background-color: #01A4EC;
  color: #fff;
  border-radius: 0.5rem;
}
#app .content .footer {
  display: flex;
}
#app .content .footer .cell {
  flex: 1;
  width: 2.5333rem;
  height: 2.5333rem;
  background-image: url('images/icon_rule.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.4667rem 2.68rem;
}
#app .content .footer .icon_rule {
  background-image: url('images/icon_rule.png');
}
#app .content .footer .icon_package {
  background-image: url('images/icon_package.png');
}
#app .dialog {
  border-radius: 15px;
  text-align: center;
  width: 9.6533rem;
  height: 11.4533rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url('images/login_bmg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#app .dialog .close_button {
  position: absolute;
  top: 2.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('images/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 2;
}
#app .dialog .button {
  position: relative;
  top: 9.5rem;
  font-size: 0.4rem;
  color: #781D05;
  margin-right: 0.26rem;
  z-index: 2;
}
#app .dialog .toast_content {
  position: relative;
  top: 0.38rem;
  width: 7.5467rem;
  height: 6rem;
  margin: 0 auto;
}
#app .dialog .toast_content .title {
  font-size: 0.4667rem;
  color: #fff;
  text-align: center;
  margin-top: 0.3rem;
  letter-spacing: 5px;
}
#app .dialog .toast_content .message {
  margin-top: 1.6rem;
}
#app .dialog .toast_content .message p {
  font-size: 0.4rem;
  color: #818181;
}
#app .dialog .toast_content .message .small_size {
  font-size: 0.32rem;
}
#app .dialog .toast_content .message .big_size {
  font-size: 0.6133rem;
}
#app .dialog .toast_content .blueColor p {
  color: #36A2EE;
}
#app .box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#rule_page {
  width: 100%;
  height: 27rem;
  background-image: url('images/rule_bmg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10rem 27rem;
}
#rule_page .title {
  color: #6B3430;
  font-size: 0.6667rem;
  text-align: center;
  line-height: 2rem;
}
#rule_page .content {
  width: 9.2rem;
  margin: 0 auto;
  padding: 0.7rem;
  border: 1px dashed #6B3430;
}
#rule_page .content p {
  line-height: 0.6rem;
  color: #6B3430;
}
#my-package {
  width: 100%;
  height: 15.4667rem;
  background-image: url('images/package_bmg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10rem 15.4667rem;
}
#my-package .title {
  color: #6B3430;
  font-size: 0.6667rem;
  text-align: center;
  line-height: 2rem;
}
#my-package .content .list {
  width: 9.0533rem;
  height: 2.24rem;
  margin: 0 auto;
  display: flex;
  background-color: #FFF9DE;
  border-radius: 10px;
  margin-bottom: 0.2rem;
}
#my-package .content .list .left .image {
  width: 2.7333rem;
  height: 2.24rem;
  border-right: 1px dashed #6FADFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.04rem 2.04rem;
}
#my-package .content .list .left .image_1 {
  background-image: url('images/image_1.png');
  background-size: 2.28rem 1.64rem;
}
#my-package .content .list .left .image_2 {
  background-image: url('images/image_2.png');
  background-size: 1.8267rem;
}
#my-package .content .list .left .image_3 {
  background-image: url('images/image_3.png');
}
#my-package .content .list .left .image_4 {
  background-image: url('images/image_4.png');
}
#my-package .content .list .left .image_5 {
  background-image: url('images/image_5.png');
}
#my-package .content .list .left .image_6 {
  background-image: url('images/image_6.png');
}
#my-package .content .list .left .image_8 {
  background-image: url('images/image_8.png');
}
#my-package .content .list .left .image_7 {
  background-image: url('images/image_7.png');
}
#my-package .content .list .right {
  flex: 1;
  position: relative;
}
#my-package .content .list .right .icon4 {
  position: absolute;
  top: 0.2rem;
  right: 0;
  width: 1.8133rem;
  height: 1.8133rem;
  background-image: url('images/icon2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.8133rem 1.8133rem;
}
#my-package .content .list .right .coupon_code {
  transform: scale(0.7);
  width: 150%;
  position: absolute;
  left: -1.2rem;
  top: 1rem;
  color: #6FADFF;
}
#my-package .content .list .right .message {
  width: 4.3867rem;
  height: 1.5333rem;
  line-height: 1.5333rem;
  border-bottom: 1px dashed #6FADFF;
  font-size: 0.4rem;
  margin-left: 0.2rem;
  color: #373737;
}
#my-package .content .list .right .message2 {
  height: 1.6rem;
  line-height: 1.4rem;
}
#my-package .content .list .right .remarks {
  transform: scale(0.7);
  width: 150%;
  position: relative;
  left: -1.2rem;
  top: 0.1rem;
  color: #BABABA;
}
@media screen and (max-width: 320px) {
  .integral_exchange .left {
    margin-right: 0.3rem !important;
  }
  .dash_bmg .title {
    top: -0.48rem !important;
    width: 8rem!important;
    transform: scale(0.9);
  }
  .dash_bmg .icon1_r {
    right: -0.3rem !important;
  }
  .dash_bmg .icon1_l {
    left: -0.4rem !important;
  }
}
/* 2倍屏 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .border-bottom::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .border-right::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .border::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
/* 3倍屏 */
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .border-bottom::after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
  .border-right::after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
  .border::after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
